.sui-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 112% !important;
    width: 170% !important;
  }
  
  .sui-layout-main {
    padding-left: 0 !important;
    padding-top: 20 !important;
    width: 1200 !important;
  }
  
  .sui-layout-body__inner {    
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }

.sui-layout-header {
  background-color: lightskyblue;
  padding-left: 10 !important; 
  padding-right: 10 !important; 
  padding-top: 15 !important; 
  padding-bottom: 15 !important; 
}

.filter-section {
  border: 2px solid grey;
  padding: 10;
}

.sui-search-box__autocomplete-container {
  margin: 0;
  padding: 2;
  line-height: 2.5;
  box-sizing: border-box;
  border: none;
}

.sui-search-box__autocomplete-container li[aria-selected="true"] {
  background: blue;
  color: #fff;
  margin: 0;
  padding: 0.5rem 1rem;
  box-shadow: none;
}

.sui-search-box__autocomplete-container li[aria-selected="true"] em {
  background: transparent;
  color: #fff;
  margin: 0;
  padding: 0;
}

.css-ky7mfj-MuiContainer-root {
  padding-left: 0px !important;
  margin-top: 0px !important;
}